:root {
  --print-color: #B58900;
}


body {
  background: #002b36;
  margin: 0;
}


#repl {
  padding: 1em;
  padding-top: 0;
  line-height: 1.2em;
  /*width: 80ch;*/
  width: 100%;
  /*height: 28.2em;*/
  height: 100%;
  color: #eee8d5;
  background: #002b36;
  font-family: menlo, Consolas, monospace;
  font-size: x-large;
  overflow-y: auto;
  text-align: left;
}

span.prompt, p {
  max-width: 90%;
  margin-bottom:1em;
}

.p {
  color: var(--print-color);
}

.prompt {
  color: white;
  font-weight: bold;
}

.input:focus {
  outline: none;
  color: cyan;
  font-family: monospace;
  font-size: 1.4em;
}

.small {
  font-size: .8em;
  color: lightgray;
}

h1 {
  line-height: 1em;
  color: var(--print-color);
}

i, b {
  color: #D33682;
}

b {
  font-weight: normal;
}

a,a:visited {
  color: #268BD2;
  text-decoration: underline;
}

pre,code {
  color: cyan;
  display: inline-block;
  font-size: 1.4em;
}

@media screen and (min-width: 30rem) {

  #repl {
  }

}

@media screen and (min-width: 60rem) {

  body {
    background: black;
  }

  #repl {
    width: 60rem;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
  }

}
