body {
  margin:0;
  background: #002b36;
}

#repl {
  line-height: 1.2em;
  /*width: 80ch;*/
  width: 100%;
  /*height: 28.2em;*/
  height: 100%;
  /*color: #eee8d5;*/
  color: cyan;
  /*background: #002b36;*/
  font-family: menlo, Consolas, monospace;
  font-size: x-large;
  overflow-y: auto;
  text-align: left;
  padding: 2em;
}

.p {
  color: gold;
}

div div {
  display: inline-block;
  color: cyan;
}

